<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://207.148.7.63:3306/carsdb?useAffectedRows=true</property>  
        <property name="connection.username">cars</property>  
        <property name="connection.password">TheSUperSecurePassword123!</property>  
        <property name="show_sql">true</property>
        <property name="use_legacy_limit_handlers">true</property>

        <mapping class="objects.Vehicle"/>
        <mapping class="objects.Listing"/>
        <mapping class="objects.User"/>
        <mapping class="objects.Wishlist"/>
    </session-factory>
</hibernate-configuration>