<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://db4free.net:3306/carsprojectdb</property>  
        <property name="connection.username">carsdb</property>  
        <property name="connection.password">)fixrIkkkYIsHBWeuN8</property>  
        <property name="show_sql">true</property>

        <mapping class="objects.Vehicle"/>
        <mapping class="objects.Listing"/>
        <mapping class="objects.User"/>
        <mapping class="objects.Wishlist"/>
    </session-factory>
</hibernate-configuration>